*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;  
}
html{
    --background-color:#16181d;
    --line-color:#2f3336;
    --card-color:#000000;
    --shadow-color:#ffad1f20;
    --darktextcolor:#6e767d;
    --special-yellow:#ffad1f;
}

body{
    height: 100vh;
    display: grid;
    grid-template: 
    "left main right" 1fr/
    minmax(100px,350px) auto minmax(100px,450px);
    color: #d9d9d9;       
}
@media screen and (max-width:1200px){
    
   body{  
    grid-template: 
    "left main" 1fr/
    200px 1fr;}
    .left a span{
        display: none;
    }
    .left button{
        display: none;
    }

    @media screen and (max-width:800px) {
        body{
            grid-template: 
            "main"1fr/
            1fr;
        }
        .left {
            display: none;
        } 
    }
}

aside{
    border: 1px solid var(--line-color);    
}
.left{
    grid-area:left;
    background-color:var(--card-color);
    display: grid;
    padding-top: 25px;
    grid-template-rows: 70% 30%;
    padding-left: 100px;
    position: relative;
    height: 100vh;
    border-right: 1px solid var(--line-color); 
}
.left nav{
display: grid;
grid-template-rows: auto;
justify-content: center;
padding-right: 35px;

}
.left nav a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 40px auto;
    gap: 10px;
    align-items: center;
    height: 50px; 
    font-weight: bolder;
    padding-left: 10px;
}
.left nav .home{
   color:#ffad1f;  
}
.left button{
    background-color: #ffad1f;
    padding: 10px 85px 10px 85px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 30px;
    border:none;
    margin-top: 15px;
}
.left button:hover{
    opacity: 90%;
}

.left nav .bird:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 1px 10px #a9a9a920;
}
.left nav a:hover{
    border-radius: 30px;
    background-color:var(--shadow-color);
    color:#ffad1f;
}
.left nav .feather{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px#f5ac42;
    background-color:#f5ac42; 
    transition: 0.2s;
    box-sizing: border-box;
}
/* note:not change shape */
.left nav .feather:hover{
    border-radius: 50%;
    background-color:#f5ac4295;
    box-shadow: 0px 0px 0px 10px#f5ac4295;
    border: none;   
}
.left .account{
    display: grid;
    grid-template-columns: 70px 1fr 50px;
    align-items: center;
    transition: 0.2s;
    position: absolute;
    bottom: 30px;
    right: 15px;
    padding: 13px;  
}
.left .dot{
    text-align: right;
}
.left img{
    border-radius: 50%;    
}
.left .account:hover{
    background-color: var(--shadow-color);
    border-radius: 40px;
    
}
.right{grid-area: right;
    background-color:var(--card-color);
    height: 100vh;
}
main{
    grid-area:main; 
    background-color: var(--background-color);
}
li{
    list-style: none;
    
}
.content{
    height: 100vh;
    overflow: scroll;
}
.midheader{
    border-bottom:1px solid #2f3336 ;
    padding: 10px;   
    display: grid; 
    grid-template-columns: 90% 10%;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    background-color:var(--card-color);
    transition: 0.2s;  
}
.midheader svg{
 border-radius: 50%;
}
.midheader svg:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #ffad1f30;
    background-color: #ffad1f30;

   }
.conhead{
    border: 1px solid #2f3336;
    background-color:var(--card-color);  
}
.con-one{
    display: grid;
    grid-template-columns: 70px 1fr;
}
.conhead img{
    border-radius: 50%;
    margin: 10px;   
}
.conhead input{
   border: none;
   background-color: black;
   font-size: 18px;   
   margin-top: 0px;
   padding: 12px;
   margin-left: 5px;
}
.con-two{
    display: flex;
    padding-bottom:5px;  
}
.con-two div{
    flex: 2.5;
    margin-left: 90px;
    align-self: center;  
}
.con-two div svg{
    margin-right: 10px;   
    transition: 0.2s; 
}
.con-two div svg:hover{
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px var(--shadow-color);
    background-color:var(--shadow-color);  
}
.con-two button{
    border: none;
    border-radius: 20px;
    padding: 12px 18px ;
    font-size: 16px;
    background-color:#7f571d;
    color:#7f7f7f; 
    margin-right: 20px;  
    font-weight: bolder;
}
.con-two button:active{
    background-color:#ffad1f;   
}
.media-one{
    border: 1px solid var(--line-color);
    border-left: none;
    border-right: none;
    margin-top: 12px;
    background-color: var(--card-color);   
    border-bottom: none;
}
.media-two{
    border: 1px solid var(--line-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: var(--card-color);   
}
.media-three{
    border: 1px solid var(--line-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: var(--card-color);   
}
.media-four{
    border: 1px solid var(--line-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: var(--card-color);   
}
.media-five{
    border: 1px solid var(--line-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: var(--card-color);   
}
iframe{
    margin-top: 10px;
    border-radius: 20px;
}
.medias span{
    color: var(--special-yellow);
}
.genre{
    padding:10px;
    padding-left: 50px;
    color: #6e767d;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 15px auto;
    align-content: center;
}
.genre span{
    padding-left: 10px; 
}
.content-play{
    display: grid;
    grid-template-columns: 80px 1fr; 
    padding-bottom: 20px;
    
    
}
.play-media-area{
    display: grid;
    grid-template-rows: auto auto auto; 
    gap:5px;
    padding-left: 5px;       
}
.account-info{
    display: grid;
    grid-template-columns: 90% 10%;    
}
.account-info .blue-dot{
    padding: 5px;
    color: #6e767d;
    display:flex;
    justify-self: center;
    border-radius: 50%;
    transition: 0.2s;
}
.account-info .blue-dot:hover{
    color:rgba(4, 235, 235, 0.904);
    background-color: rgb(3, 28, 49);
    cursor: pointer;
}
.play-media-area .medias{
    margin-top: -7px;}
    
.play-media-area .medias img{
    border-radius: 20px;
    margin-top: 10px;
}
.account-profile{
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;   
}
footer{
display: grid;
grid-template-columns: auto auto auto auto;
padding: 5px;
}
footer div{
    display: grid;
    grid-template-columns: 22% 78%;  
    align-items: center;
}
footer span{
    font-size: 15px;
    color: var(--darktextcolor);
}
footer svg{
    border-radius: 50%;
    transition: 0.2s;
  }
  footer .blue:hover svg{
    box-shadow: 0px 0px 0px 7px#6cb9d830;
    background-color: #6cb9d830; 
  }
  footer .blue:hover span{
    color:cyan;
  }
  footer .green:hover svg{
    box-shadow: 0px 0px 0px 7px#89f0d630;
    background-color:#89f0d630; 
  }
  footer .green:hover span{
    color:rgb(68, 212, 68);
  }
  footer .pink:hover svg{
    box-shadow: 0px 0px 0px 7px#f089b030;
    background-color:#f089b030; 
  }
  footer .pink:hover span{
    color:rgb(243, 31, 73);
  }
