*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;  
}
html{
    --background-color:#16181d;
    --line-color:#2f3336;
    --card-color:#000000;
    --shadow-color:#ffad1f20;
    --darktextcolor:#6e767d;
    --special-yellow:#ffad1f;
    --lighttextcolor:#60676e;
    --brighttext-color:#d9d9d9;
    --backgroundhovercolor:#62729b10; 
}

body{
    height: 100vh;
    display: grid;
    grid-template: 
    "left main right" 1fr/
    minmax(100px,350px) auto minmax(100px,600px);
    color: #d9d9d9;       
}
@media screen and (max-width:1200px){
    
   body{  
    grid-template: 
    "left main" 1fr/
    200px 1fr;}
    .right{
        display: none;
    }
    .left a span{
        display: none;
    }
    .left button{
        display: none;
    }
   
    @media screen and (max-width:800px) {
        body{
            grid-template: 
            "main"1fr/
            1fr;
        }
        .left {
            display: none;
        } 
    }
}
aside{
    border: 1px solid var(--line-color);    
}
.left{
    grid-area:left;
    background-color:var(--card-color);
    display: grid;
    padding-top: 25px;
    grid-template-rows: 70% 30%;
    padding-left: 100px;
    position: relative;
    height: 100vh;
    border-right: 1px solid var(--line-color); 
}
.left nav{
display: grid;
grid-template-rows: auto;
justify-content: center;
padding-right: 35px;

}
.left nav a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 40px auto;
    gap: 10px;
    align-items: center;
    height: 50px; 
    font-weight: bolder;
    padding-left: 10px;
}
.left nav .home{
   color:#ffad1f;  
}
.left button{
    background-color: #ffad1f;
    padding: 10px 85px 10px 85px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 30px;
    border:none;
    margin-top: 15px;
}
.left button:hover{
    opacity: 90%;
}

.left nav .bird:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 1px 10px #a9a9a920;
}
.left nav a:hover{
    border-radius: 30px;
    background-color:var(--shadow-color);
    color:#ffad1f;
}
.left nav .feather{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px#f5ac42;
    background-color:#f5ac42; 
    transition: 0.2s;
    box-sizing: border-box;
}
/* note:not change shape */
.left nav .feather:hover{
    border-radius: 50%;
    background-color:#f5ac4295;
    box-shadow: 0px 0px 0px 10px#f5ac4295;
    border: none;   
}
.left .account{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    transition: 0.2s;
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 13px;  
}
.left .dot{
    text-align: right;
}
.left img{
    border-radius: 50%;  
}
.left .account:hover{
    background-color: var(--shadow-color);
    border-radius: 40px;   
}

main{
    grid-area:main; 
    background-color: var(--background-color);
}
li{
    list-style: none;
    
}
.content{
    height: 100vh;
    overflow: scroll;
}
.midheader{
    border-bottom:1px solid #2f3336 ;
    padding: 10px;   
    display: grid; 
    grid-template-columns: 90% 10%;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    background-color:var(--card-color);
    transition: 0.2s;  
}
.midheader svg{
 border-radius: 50%;
}
.midheader svg:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #ffad1f30;
    background-color: #ffad1f30;

   }
.conhead{
    border: 1px solid #2f3336;
    background-color:var(--card-color);  
    padding-bottom: 4px;
}
.con-one{
    display: grid;
    grid-template-columns: 70px 1fr;
}
.conhead img{
    border-radius: 50%;
    margin: 10px;   
}
.conhead input{
   border: none;
   background-color: black;
   font-size: 18px;   
   margin-top: 0px;
   padding: 12px;
   margin-left: 5px;
}
.con-two{
    display: flex;
    padding-bottom:5px;  
}
.con-two div{
    flex: 2.5;
    margin-left: 90px;
    align-self: center;  
}
.con-two div svg{
    margin-right: 10px;   
    transition: 0.2s; 
}
.con-two div svg:hover{
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px var(--shadow-color);
    background-color:var(--shadow-color);  
}
.con-two button{
    border: none;
    border-radius: 20px;
    padding: 12px 18px ;
    font-size: 16px;
    background-color:#7f571d;
    color:#7f7f7f; 
    margin-right: 20px;  
    font-weight: bolder;
}
.con-two button:active{
    background-color:#ffad1f;   
}
.media-one{
    border: 1px solid var(--line-color);
    border-left: none;
    border-right: none;
    margin-top: 12px;
    background-color: var(--card-color);   
    border-bottom: none;
}
.media-two, .media-three, .media-four, .media-five,.media-six,.media-seven{
    border: 1px solid var(--line-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: var(--card-color); 
    transition: 0.2s;  
    padding-right: 15px;
}
.media-one:hover,.media-two:hover, .media-three:hover, .media-four:hover, .media-five:hover,.media-six:hover,.media-seven:hover{
    background-color: #00000080;   
}

.media-seven a{
    text-decoration: none;
    color: var(--special-yellow);
}
iframe{
    margin-top: 10px;
    border-radius: 20px;
}
.medias span{
    color: var(--special-yellow);
}
.genre{
    padding:10px;
    padding-left: 50px;
    color: #6e767d;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 15px auto;
    align-content: center;
}
.genre span{
    padding-left: 10px; 
}
.content-play{
    display: grid;
    grid-template-columns: 80px 1fr; 
    padding-bottom: 20px;    
}
.play-media-area{
    display: grid;
    grid-template-rows: auto auto auto; 
    gap:5px;
    padding-left: 5px;       
}
.account-info{
    display: grid;
    grid-template-columns: 90% 10%;    
}
.blue-dot{
    padding: 5px;
    color: #6e767d;
    display:flex;
    justify-self: center;
    border-radius: 50%;
    transition: 0.2s;
}
 .blue-dot:hover{
    color:rgba(4, 235, 235, 0.904);
    background-color: rgb(3, 28, 49);
    cursor: pointer;
}
.play-media-area .medias{
    margin-top: -7px;}
    
.play-media-area .medias img{
    border-radius: 20px;
    margin-top: 10px;
}
.account-profile{
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;   
}
footer{
display: grid;
grid-template-columns: auto auto auto auto;
padding: 5px;
}
footer div{
    display: grid;
    grid-template-columns: 22% 78%;  
    align-items: center;
}
footer span{
    font-size: 15px;
    color: var(--darktextcolor);
}
footer svg{
    border-radius: 50%;
    transition: 0.2s;
  }
  footer .blue:hover svg{
    box-shadow: 0px 0px 0px 7px#6cb9d830;
    background-color: #6cb9d830; 
  }
  footer .blue:hover span{
    color:cyan;
  }
  footer .green:hover svg{
    box-shadow: 0px 0px 0px 7px#89f0d630;
    background-color:#89f0d630; 
  }
  footer .green:hover span{
    color:rgb(68, 212, 68);
  }
  footer .pink:hover svg{
    box-shadow: 0px 0px 0px 7px#f089b030;
    background-color:#f089b030; 
  }
  footer .pink:hover span{
    color:rgb(243, 31, 73);
  }
/* edit right part */
.right{
    grid-area: right;
    background-color:var(--card-color);
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
    padding-left: 30px;  
}
.right .searchbar{
    position: relative;
}
.right input{
    position: relative;
    top: 3px;
    background: url("image/search.svg");
    background-size: 20px 20px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    padding-left:50px;
    padding-top: 12px;
    padding-bottom:12px;
    margin-top: 3px;
    width: 345px;
    font-size: 16px;
    border:none;
    border-radius: 30px; 
    transition: 0.2s;
  }
.searchbar input:hover{
    border: 2px solid var(--special-yellow); 
    background: url("image/search copy.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15px 10px;
}
.other-content{
    display: grid;
    margin-top: 10px;
    margin-right: 100px;  
    gap: 10px;
    overflow: scroll;
}
.happening{
    border-radius: 20px;
    background-color: var(--background-color);
    border:2px solid var(--line-color);
}
.happening h1{
    padding: 15px;
    border-bottom:2px solid var(--line-color);
}
.happening h3{
    padding: 15px;
    color: var(--special-yellow);
    font-weight: lighter;
    font-size: 14px;
}
 .light span{
    color: var(--special-yellow);
}
span.red{
    border: none;
    border-radius: 5px;
    background-color:rgb(219, 57, 89);
    padding: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
 .one, .two{
    display: grid;
    border-bottom:2px solid var(--line-color);
    padding: 10px;
    grid-template-columns: 74% 26%;
    color: var(--brighttext-color);
}
.three{
    display: grid;
    border-bottom:2px solid var(--line-color);
    padding: 10px;
    grid-template-columns: 90% 10%;
    color: var(--brighttext-color);
}

.right .blue-dot{
 width: 34px;
 height: 34px;
 padding: 9px;
 margin-top: -5px ;
}
.right .blue-dot:hover{
    background-color: rgb(3, 28, 49);
}

.light {
    font-size: 13px;  
    color:var(--lighttextcolor); 
}
.one img, .two img{
    border-radius: 20px;
    object-fit: cover;
}
.text{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    gap: 5px;
}
.sidetext{
    font-size: 0.8rem;
    color: var(--darktextcolor);
}
.whofollow, .topics-to-follow{
    border:2px solid var(--line-color);
    border-radius: 20px;
    background-color: var(--background-color);
}
.happening section:hover, .happening h3:hover {
    background-color:#62729b10;
}

.whofollow h1{
    border-bottom: 2px solid var(--line-color);
    padding: 15px;
}
.whofollow h3{
    padding: 15px;
    color: var(--special-yellow);
    font-weight:lighter;
    font-size: 14px;
}
.whofollow h3:hover{
    background-color:#62729b10;  
}
.follow-one{
    border-bottom: 2px solid var(--line-color);
    display: grid;
    grid-template-columns: 70px 2fr 100px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.follow-one:hover{
    background-color:#62729b10; 
}

.follow-one img{
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}
.follow-one .newname{
    line-height: 20px;
}
.newname a{
    color: inherit;
    text-decoration: none;
}
.newname a:hover{
    text-decoration: underline
}

.dark{
    color: var(--darktextcolor);
    font-size: 0.8rem;
    padding-top: 5px;
}
.follow-one button{
    margin: 3px 20px 3px 0px;
    border-radius: 30px;
    color:var(--special-yellow);
    font-size: 14px;
    font-weight: bold;
    border:none;
    background-color: var(--background-color);
    border:2px solid var(--special-yellow);
    padding: -20px;
}
.follow-one button:hover{
    background-color: var(--shadow-color);
}
.topic-one{
    border-bottom: 2px solid var(--line-color);
    display: grid;
    grid-template-columns: 2fr 100px 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
}
.topic-one:hover, .topics-to-follow h3:hover{
    background-color:#62729b10; 
}
.topics-to-follow h1{
    border-bottom: 2px solid var(--line-color);
    padding: 15px;
}
.topics-to-follow h3{
    padding: 15px;
    color: var(--special-yellow);
    font-weight:lighter;
    font-size: 14px;
}
.topic-one button{
    margin: 3px 20px 3px 0px;
    border-radius: 30px;
    color:var(--special-yellow);
    font-size: 14px;
    font-weight: bold;
    border:none;
    background-color: var(--background-color);
    border:2px solid var(--special-yellow);
    padding: -20px;
}
.topic-one button:hover{
    background-color: var(--shadow-color);
}
.topic-one svg{
    display: grid;
    align-self: center;
    border-radius: 50%;
    transition: 0.2s;
    padding: 6px;
}
.topic-one svg:hover{
    background-color: var(--shadow-color);
}

.last{
    color: var(--darktextcolor);
    font-size: 0.85rem;
    padding:10px 0px 100px 20px;
}